/*
Theme Name: Alium Cult
Template: bootstrapfour
*/

@font-face {
    font-family: 'ProximaLight';
    src: url('fonts/proximanovalight.ttf');
}

@font-face {
    font-family: 'ProximaReg';
    src: url('fonts/proximanovareg.ttf');
}

body {
    font-family: 'ProximaReg';
}

.proximalight {
    font-family: 'ProximaLight', sans-serif;
}

.menu-wrapper .menu {
    display: flex;
    list-style: none;
    padding: 40px 0;
    margin: 0;
    text-transform: uppercase;
}
.menu-wrapper .menu li {
    padding: 10px 20px;
    border-bottom: 1px solid transparent;
}
.menu-wrapper .menu a {
    padding: 0;
    color: #c0c0c0;
    transition: 0.5s;
}
.menu-wrapper .menu .current-menu-item a, .menu-wrapper .menu a:hover {
    transition: 0.5s;
    border-bottom: 1px solid black;
    color: #000;
}
.site-logo {
    max-height: 80px;
}
.flex-third-width {
    flex-basis: 33.33%;
}
.responsive-third-square {
    padding-bottom: 33%;
}
.show-on-hover {
    opacity: 0;
    transition: 0.3s;
}
.show-on-hover:hover {
    opacity: 1;
    transition: 0.3s;
}